.about-us {
  position: relative;
  margin-top: 54px;

  @media only screen and (min-width: $lg) {
    margin-bottom: -70px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 44px;
    left: 0;
    width: 10px;
    height: 277px;
    background: #00769f;

    @media only screen and (min-width: $sm) {
      width: calc((100% - 676px) / 2);
    }

    @media only screen and (min-width: $md) {
      width: calc((100% - 948px) / 2);
    }

    @media only screen and (min-width: $lg) {
      width: calc((100% - 1188px) / 2);
    }

    @media only screen and (min-width: $xl) {
      width: calc((100% - 1290px) / 2);
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 160px;
    right: 0;
    width: 15px;
    height: 130px;
    background: #00769f;
    z-index: -1;

    @media only screen and (min-width: $sm) {
      width: calc((100% - 676px) / 2);
    }

    @media only screen and (min-width: $md) {
      top: 100px;
      height: 170px;
      width: 34vw;
    }

    @media only screen and (min-width: $lg) {
      height: 190px;
      width: 38vw;
    }
  }

  .section-heading {
    @media only screen and (min-width: $sm) {
      padding-left: 30px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;

    @media only screen and (min-width: $md) {
      grid-template-columns: 1fr 1fr;
      column-gap: 60px;
    }
  }

  &__texts {
    margin-bottom: 24px;

    @media only screen and (min-width: $md) {
      padding-left: 30px;
    }
  }
}

.about-us-negative-margin {
  margin-bottom: -5em;

  @media only screen and (min-width: $md) {
    margin-bottom: 1em;
  }

  @media only screen and (min-width: $lg) {
    margin-bottom: -8em;
  }
}

.composition {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: $sm) {
    align-items: flex-end;
    justify-content: center;
  }

  @media only screen and (min-width: $md) {
    align-items: flex-end;
    justify-content: flex-start;
  }

  &__image {
    width: 240px;
    height: 160px;
    border: 5px solid $secondary;

    @media only screen and (min-width: $sm) {
      width: 80%;
      height: 220px;
    }

    @media only screen and (min-width: $md) {
      height: 240px;
    }

    @media only screen and (min-width: $lg) {
      width: 488px;
      height: 282px;
    }

    &--1 {
      transform: translateX(-25px);

      @media only screen and (min-width: $sm) {
        transform: translateX(-80px);
      }

      @media only screen and (min-width: $md) {
        transform: translate(-80px, -46px);
      }
    }

    &--2 {
      transform: translate(30px, -70px);
      z-index: 2;

      @media only screen and (min-width: $sm) {
        transform: translate(0, -60px);
      }

      @media only screen and (min-width: $md) {
        transform: translate(0, -120px);
      }
    }

    &--3 {
      transform: translate(-25px, -110px);

      @media only screen and (min-width: $sm) {
        transform: translate(-80px, -110px);
      }

      @media only screen and (min-width: $md) {
        transform: translate(-80px, -180px);
      }
    }

    &--4 {
      transform: translate(30px, -160px);

      @media only screen and (min-width: $sm) {
        transform: translate(0, -160px);
      }

      @media only screen and (min-width: $md) {
        transform: translate(0, -240px);
      }
    }
  }
}

.reservation-inner {
  .composition__image {
    border: none;
  }
}
