.activities {
  margin: 34px 0;

  @media only screen and (min-width: $md) {
    margin-bottom: 80px;
  }

  > .container {
    @media only screen and (min-width: $md) {
      display: grid;
      grid-template-columns: 1fr 100px 1fr;
      margin-bottom: -120px;
    }
  }
}

.weather {
  margin-top: 20px;
  padding: 40px 20px;
  background: #00769f;

  @media only screen and (min-width: $md) {
    grid-column: 1/3;
    grid-row: 1/2;
    max-height: 560px;
    margin-top: 82px;
    padding: 85px 120px 60px 70px;
  }

  h3 {
    margin-bottom: 75px;
    position: relative;
    font-family: $font-headings-main;
    font-size: 26px;
    color: $white;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -22px;
      width: 80px;
      height: 3px;
      background: $secondary;
    }
  }

  p {
    font-size: 14px;
    color: $white;

    @media only screen and (min-width: $md) {
      font-size: 15px;
    }
  }

  a.btn {
    margin-top: 34px;

    @media only screen and (min-width: $md) {
      margin-top: 88px;
    }
  }
}

.reservations {
  position: relative;
  z-index: 1;

  @media only screen and (min-width: $md) {
    grid-column: 2/4;
    grid-row: 1/2;
    transform: translateY(-190px);
    width: 100%;
  }
}

.reservation {
  position: relative;
  padding: 40px 20px;

  @media only screen and (min-width: $md) {
    height: 730px !important;
    padding: 288px 70px 136px 70px;
  }

  figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: hsla(32, 100%, 55%, 0.8);
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    position: relative;
    z-index: 100;
  }

  h3 {
    margin-bottom: 75px;
    position: relative;
    font-family: $font-headings-main;
    font-size: 26px;
    color: $white;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -22px;
      width: 80px;
      height: 3px;
      background: $white;
    }
  }

  p {
    font-size: 14px;
    color: $white;

    @media only screen and (min-width: $md) {
      font-size: 15px;
    }
  }

  a.btn {
    margin: 34px 0 20px 0;
    border-color: $white;

    &:hover {
      color: $secondary;
      background: $white;
    }

    @media only screen and (min-width: $md) {
      margin-top: 88px;
    }
  }
}
