.activities {
  margin-bottom: -540px;
}

.weather {
  padding: 35px 0 120px 70px;
  background: #00769f;
  transform: translateY(-585px);

  h3 {
    margin-bottom: 75px;
    position: relative;
    font-family: 'BPG ExtraSquare Mtavruli';
    font-size: 26px;
    color: $white;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -22px;
      width: 80px;
      height: 3px;
      background: $secondary;
    }
  }

  p {
    max-width: 377px;
    margin-bottom: 85px;
    font-size: 15px;
    color: $white;
  }
}

.reservations {
  transform: translateY(-190px);
  position: relative;
  z-index: 1;
}

.reservation {
  position: relative;
  height: 766px !important;
  padding: 288px 70px 136px 70px;

  figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: hsla(32, 100%, 55%, 0.8);
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    position: relative;
    z-index: 100;
  }

  h3 {
    margin-bottom: 75px;
    position: relative;
    font-family: 'BPG ExtraSquare Mtavruli';
    font-size: 26px;
    color: $white;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -22px;
      width: 80px;
      height: 3px;
      background: $white;
    }
  }

  p {
    font-size: 15px;
    color: $white;
  }

  a.btn {
    margin-top: 88px;
    border-color: $white;
  }
}

.blog-news {
  padding: 54px 0 75px 0;
}
