.banner {
  margin-bottom: -125px;
  position: relative;
  height: 500px;
  transform: translateY(-125px);
  z-index: 1;

  @media only screen and (max-width: 1365px) {
    height: 280px;
  }

  &--reservations,
  &--travel {
    margin-bottom: 0;
    height: 240px;
    transform: translateY(0);

    @media only screen and (min-width: $md) {
      height: 287px;
    }
  }

  &--travel {
    .container {
      transform: translateY(-130px) !important;
    }
  }

  &--shadow {
    figure {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 60%;
        background: linear-gradient(
          to bottom,
          hsla(0, 0%, 0%, 0),
          hsla(0, 0%, 0%, 0.7),
          hsl(0, 0%, 0%)
        );
      }
    }
  }

  .container {
    position: relative;
  }

  &__title {
    z-index: 100;
  }

  img {
    width: 100%;
    height: 100%;
  }

  & .container {
    transform: translateY(-80px);
  }
}
