.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 60px;

  font-family: 'BPG ExtraSquare Mtavruli';
  font-size: 16px;
  color: $white;

  border: 3px solid $secondary;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    background: $secondary;
  }
}

.back-link {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 50px;
    width: 50px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $secondary;

    svg {
      display: block;
      fill: $white;
    }
  }
}

.actions {
  button {
    padding: 0 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.8em;
    background: #1877f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      background: #105cbe;
    }

    svg {
      display: block;
      width: 18px;
      height: 18px;
      margin-right: 4px;
      transform: translateY(-2px);
    }
  }
}

.travel-browse__form {
  button {
    padding: 0;
    height: 40px;
    background: $secondary;
    border: none;
    cursor: pointer;
  }
}
