.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 60px;

  font-family: 'BPG ExtraSquare Mtavruli';
  font-size: 16px;
  color: $white;

  border: 3px solid $secondary;
  cursor: pointer;
}
