.site-footer {
  background: #eeeeee;

  .social-media-links {
    a {
      width: 28px;
      height: 28px;
      border-radius: 28px;
      background: hsl(195, 100%, 31%);
      transition: all 0.2s linear;

      &:hover {
        background: hsl(195, 100%, 19%);
      }
    }

    svg {
      display: block;
      height: 18px;
      fill: $white;
    }
  }

  &__copy {
    background: $primary;
  }
}
