.travel-browse__form {
  margin: 20px 0 30px 0;
  background: #e3e3e3;
}

.contact-form-grid {
  button {
    width: 124px;
    height: 40px;
    background: $secondary;
    border: none;
    cursor: pointer;
  }
}
