.pagination {
  margin-top: 50px;
  display: flex;
  justify-content: center;

  @media only screen and (min-width: $md) {
    margin-top: 100px;
  }

  ul {
    display: flex;
    align-items: center;
  }

  li {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__prev,
  &__next {
    a {
      width: 22px;
      height: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $primary;
    }

    svg {
      display: block;
    }
  }

  &__prev {
    a {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }

  &__next {
    a {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }

  &__number {
    font-family: $font-headings-main, sans-serif;
    font-size: 14px;
    color: #515151;

    a {
      color: inherit;
      padding: 10px;
    }
  }
}
