.pagination {
  margin-top: 100px;
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    align-items: center;
  }

  li {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__prev,
  &__next {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary;

    a,
    svg {
      display: block;
    }
  }

  &__prev {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  &__next {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  &__number {
    font-family: $font-headings-main, sans-serif;
    font-size: 14px;
    color: #515151;

    a {
      color: inherit;
    }
  }
}
