.travel {
  position: relative;
  z-index: 100;

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;

    @media only screen and (min-width: 560px) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
      row-gap: 0;
    }
  }
}
