.section-heading {
  margin-bottom: 25px;
  font-family: $font-headings-main, sans-serif;
  font-size: 20px;
  color: #00769f;
}

.article-heading {
  margin-bottom: 55px;
  position: relative;
  font-family: $font-headings-main, sans-serif;
  font-size: 18px;
  color: $black;
  line-height: 1.1;

  @media only screen and (min-width: $xs) {
    font-size: 20px;
  }

  @media only screen and (min-width: $md) {
    font-size: 28px;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -22px;
    width: 80px;
    height: 3px;
    background: #00769f;
  }
}

.page-heading {
  margin-bottom: 25px;
  font-family: $font-body, sans-serif;
  font-size: 22px;
  color: #e4e4e4;
  text-align: center;

  @media only screen and (min-width: $sm) {
    margin-bottom: 35px;
    font-size: 32px;
  }

  @media only screen and (min-width: $md) {
    font-size: 44px;
  }

  @media only screen and (min-width: $lg) {
    margin-bottom: 75px;
    font-size: 54px;
  }

  @media only screen and (min-width: $xl) {
    font-size: 75px;
  }
}

.site-footer__heading {
  margin-bottom: 50px;
  position: relative;
  font-family: $font-headings-main, sans-serif;
  font-size: 17px;
  color: $black;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -22px;
    width: 80px;
    height: 3px;
    background: $secondary;
  }
}

.body {
  font-family: $font-body, sans-serif;
  font-size: 14px;
  margin: 14px 0;

  @media only screen and (min-width: $md) {
    font-size: 16px;
  }
}
