.section-heading {
  margin-bottom: 25px;
  font-family: 'BPG ExtraSquare Mtavruli', sans-serif;
  font-size: 20px;
  color: #00769f;
}

.article-heading {
  margin-bottom: 55px;
  position: relative;
  font-family: 'BPG ExtraSquare Mtavruli', sans-serif;
  font-size: 28px;
  color: $black;
  line-height: 1.1;

  @media only screen and (max-width: 1365px) {
    font-size: 24px;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -22px;
    width: 80px;
    height: 3px;
    background: #00769f;
  }
}

.site-footer__heading {
  margin-bottom: 50px;
  position: relative;
  font-family: 'BPG ExtraSquare Mtavruli', sans-serif;
  font-size: 17px;
  color: $black;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -22px;
    width: 80px;
    height: 3px;
    background: $secondary;
  }
}

.body {
  font-family: 'BPG Mrgvlovani';
  font-size: 16px;
}
