.blog {
  &-title {
    margin-bottom: 1em;
  }

  &-timestamp {
    margin-bottom: 0.85em;
    display: block;
  }

  &__photo {
    width: 100%;
    height: 240px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media only screen and (min-width: $sm) {
      width: 300px;
    }

    @media only screen and (min-width: $md) {
      width: 420px;
      height: 340px;
    }

    @media only screen and (min-width: $lg) {
      width: 580px;
    }

    @media only screen and (min-width: $xl) {
      width: 620px;
    }
  }

  p {
    font-family: $font-body;
    font-size: 16px;
    text-align: justify;
    color: #000;

    span {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
    }
  }
}
