.tourist-center {
  &__photo {
    margin-bottom: 14px;
  }

  &__location {
    display: flex;
    align-items: flex-start;
  }

  &__icon {
    display: block;
    margin-right: 16px;
    svg {
      display: block;
    }
  }

  &__address {
    font-family: $font-headings-main, sans-serif;
    font-size: 16px;
    color: #004d68;
  }
}
