@font-face {
  font-family: 'Futura Md BT';
  src: url('../fonts/FuturaBT-Medium.woff2') format('woff2'),
    url('../fonts/FuturaBT-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BPG ExtraSquare Mtavruli';
  src: url('../fonts/BPGExtraSquareMtavruli.woff2') format('woff2'),
    url('../fonts/BPGExtraSquareMtavruli.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baskerville Old Face';
  src: url('../fonts/BaskOldFace.woff2') format('woff2'),
    url('../fonts/BaskOldFace.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BPG Mrgvlovani';
  src: url('../fonts/BPGMrgvlovani.woff2') format('woff2'),
    url('../fonts/BPGMrgvlovani.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
