*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #fbfbfb;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.zoom-on-hover {
  overflow: hidden;

  &:hover {
    & img {
      transform: scale(1.1);
    }
  }

  img {
    transition: all 0.2s ease-in;
  }
}
