.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media only screen and (min-width: $sm) {
    max-width: 726px;
    padding: 0 30px;
  }

  @media only screen and (min-width: $md) {
    max-width: 978px;
  }

  @media only screen and (min-width: $lg) {
    max-width: 1218px;
  }

  @media only screen and (min-width: $xl) {
    max-width: 1366px;
  }
}

.page-content {
  padding: 2.125em 0 4.25em 0;
}

.contact-grid {
  @media only screen and (min-width: $sm) {
    display: flex;
    justify-content: space-between;
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;

  @media only screen and (min-width: 520px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
  }

  @media only screen and (min-width: $md) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;

  @media only screen and (min-width: 520px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  @media only screen and (min-width: $md) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  @media only screen and (min-width: $lg) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 40px;
  }
}

.contact-form-grid {
  padding: 1.75em 2em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (min-width: $md) {
    padding: 0 5.25em;
  }

  h2 {
    margin-bottom: 1em;
  }
}

.form-control-wrapper {
  @media only screen and (min-width: 480px) {
    display: flex;
    justify-content: space-between;

    .form-control {
      flex-basis: 48%;
    }
  }
}

.form-control {
  margin-bottom: 1em;
}

.blog {
  .float-right {
    @media only screen and (min-width: $sm) {
      float: right;
      margin-left: 16px;
      margin-bottom: 16px;
    }

    @media only screen and (min-width: $lg) {
      margin-left: 24px;
      margin-bottom: 24px;
    }
  }

  p:first-child {
    margin-top: 0;
  }

  &__body {
    @media only screen and (min-width: $md) {
      margin-right: 44px;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column-reverse;

    @media only screen and (min-width: $sm) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .actions {
      margin-bottom: 1em;

      @media only screen and (min-width: $sm) {
        margin-bottom: 0;
      }
    }
  }
}

.other-news {
  margin-top: 54px;

  h3 {
    margin-bottom: 30px;
  }
}

.travel-browse__form {
  padding: 20px;

  form {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;

    @media only screen and (min-width: 480px) {
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
    }

    @media only screen and (min-width: $md) {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

.actions {
  ul {
    display: flex;

    li:first-child {
      margin-right: 8px;
    }
  }
}

.hotel-card__row {
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
}

.site-footer {
  padding: 34px 0 0 0;

  li {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__links {
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 28px;

    @media only screen and (min-width: 580px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (min-width: $md) {
      grid-template-columns: repeat(4, 1fr);
      row-gap: 0;
    }
  }

  .social-media-links {
    margin-top: 26px;
    display: flex;

    li {
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: 22px;
      }
    }

    a {
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__copy {
    padding: 20px 0 22px 0;

    & > .container {
      display: flex;
      flex-direction: column;

      @media only screen and (min-width: $sm) {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    & .copyright {
      margin-bottom: 14px;

      @media only screen and (min-width: $sm) {
        margin-bottom: 0;
      }
    }
  }
}

.reservation-inner {
  .composition {
    @media only screen and (min-width: $md) {
      margin-top: 3em;
    }
  }

  margin-bottom: -5em;

  @media only screen and (min-width: $md) {
    margin-bottom: -3em;
  }
}

.banner--reservations {
  .container {
    transform: translateY(160px) !important;
  }
}

.apartment-info {
  @media only screen and (min-width: $sm) {
    display: flex;
    align-items: center;
  }

  .row {
    display: flex;
    align-items: center;

    @media only screen and (min-width: $sm) {
      flex-grow: 1;
    }
  }
}
