.site-header {
  font-family: $font-headings-main, sans-serif;

  & .temp {
    li {
      font-size: 14px;
      color: $white;
    }

    span {
      color: $secondary;
    }
  }

  & .langs {
    a {
      color: $white;

      &.active {
        opacity: 0.5;
      }
    }
  }
}

.section-heading {
  margin-bottom: 25px;
  font-family: $font-headings-main, sans-serif;
  font-size: 20px;
  color: #00769f;
}

.article-heading {
  margin-bottom: 55px;
  position: relative;
  font-family: $font-headings-main, sans-serif;
  font-size: 18px;
  color: $black;
  line-height: 1.1;

  @media only screen and (min-width: $xs) {
    font-size: 20px;
  }

  @media only screen and (min-width: $md) {
    font-size: 28px;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -22px;
    width: 80px;
    height: 3px;
    background: #00769f;
  }
}

.page-heading {
  margin-bottom: 25px;
  font-family: $font-body, sans-serif;
  font-size: 22px;
  color: #e4e4e4;
  text-align: center;

  &--left {
    text-align: left;
  }

  @media only screen and (min-width: $sm) {
    margin-bottom: 35px;
    font-size: 32px;
  }

  @media only screen and (min-width: $md) {
    font-size: 44px;
  }

  @media only screen and (min-width: $lg) {
    margin-bottom: 40px;
    font-size: 54px;
  }

  @media only screen and (min-width: $xl) {
    font-size: 75px;
  }
}

.site-footer__heading {
  margin-bottom: 50px;
  position: relative;
  font-family: $font-headings-main, sans-serif;
  font-size: 17px;
  color: $black;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -22px;
    width: 80px;
    height: 3px;
    background: $secondary;
  }
}

.body {
  font-family: $font-body, sans-serif;
  font-size: 14px;
  margin: 14px 0;

  @media only screen and (min-width: $md) {
    font-size: 16px;
  }
}

.main-nav {
  a {
    font-family: $font-headings-main, sans-serif;
    font-size: 1rem;
    color: $white;

    &:active {
      color: $secondary;
    }
  }
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea,
select,
option {
  font-family: $font-body, sans-serif;
  font-size: 0.875rem;
  color: #313131;
}

button {
  font-family: $font-headings-main, sans-serif;
}

.contact-address {
  h2 {
    font-family: $font-headings-main, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    color: #343434;
  }

  p {
    font-family: $font-body, sans-serif;
    font-size: 0.875rem;
    color: #313131;
  }
}

.contact-form {
  h2 {
    font-family: $font-headings-main, sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    color: #343434;
  }
}

.contact-form-grid {
  button {
    font-size: 0.75rem;
    color: $white;
  }
}

.hotel-card {
  &__heading {
    font-family: $font-headings-main, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: $black;
  }

  &__price {
    font-family: $font-headings-main, sans-serif;
    font-size: 1rem;
    color: $secondary;
  }

  &__guests {
    font-family: $font-headings-main, sans-serif;
    font-size: 1rem;
    color: #aeaeae;
  }
}

.blog {
  &-title {
    font-family: $font-headings-main, sans-serif;
    font-size: 1.875rem;
    font-weight: 400;
    color: $primary;
  }

  &-timestamp {
    font-family: $font-headings-main, sans-serif;
    font-size: 1.25rem;
    color: $secondary;
  }
}

.other-news {
  h3 {
    font-family: $font-headings-main, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    color: $primary;
  }
}

.back-link {
  &__text {
    font-family: $font-headings-main, sans-serif;
    font-size: 1.125rem;
    color: #343434;
  }
}

.actions {
  button {
    font-family: $font-headings-main, sans-serif;
    font-size: 0.9rem;
    color: #fefeff;
    text-transform: capitalize;
  }
}

.travel-browse__form {
  button {
    color: $white;
  }
}

.banner {
  &__title {
    font-family: $font-headings-main, sans-serif;
    font-size: 1.5rem;
    color: $white;
    line-height: 1.4;

    @media only screen and (min-width: $sm) {
      font-size: 2rem;
    }

    @media only screen and (min-width: $md) {
      font-size: 3.125rem;
    }

    &--inner {
      text-align: center;
    }
  }
}

.reservation-inner {
  &-title {
    font-family: $font-headings-main, sans-serif;
    font-size: 2rem;
    color: $black;
  }
}

.apartment-info {
  font-family: $font-headings-main, sans-serif;

  h2 {
    font-weight: 400;
    color: $black;

    @media only screen and (min-width: $md) {
      font-size: 1.75rem;
    }
  }

  .guest-count {
    color: #aeaeae;

    @media only screen and (min-width: $md) {
      font-size: 1.75rem;
    }
  }

  .price {
    color: $secondary;

    @media only screen and (min-width: $md) {
      font-size: 1.75rem;
    }
  }
}

.apartment-heading {
  font-family: $font-headings-main, sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  color: #dedede;
  text-align: center;

  @media only screen and (min-width: $sm) {
    font-size: 2.125rem;
  }

  @media only screen and (min-width: $lg) {
    font-size: 3.375rem;
  }

  @media only screen and (min-width: $xl) {
    font-size: 4.375rem;
  }
}

.apartment-description {
  .body {
    line-height: 1.5;
  }
}

.apartment-details {
  li {
    font-family: $font-headings-main, sans-serif;
  }
}

.site-footer {
  li {
    a {
      font-family: $font-body;
      font-size: 12px;
      color: $black;
      transition: all 0.2s linear;

      &:hover {
        color: $secondary;
      }
    }
  }

  .phone {
    font-family: $font-body;
    font-size: 12px;
  }

  .mail {
    font-family: 'Futura Md BT';
    font-size: 12px;
    color: $secondary;
  }

  &__copy {
    font-family: 'Segoe UI', sans-serif;
    color: $white;
    text-align: center;

    @media only screen and (min-width: $sm) {
      text-align: initial;
    }

    & a {
      font-family: inherit;
      color: inherit;
    }
  }
}

.video-card-title {
  font-family: $font-headings-main, sans-serif;
  font-size: 1.25rem;
  color: #343434;
  font-weight: 400;
}
